span{
  font-size: 18px;
  color:rgb(26, 26, 45);
}

.mat-column-action{
  width: 100px;
}

.mat-cell{
  padding:20px;
}
.mat-header-cell{
    padding:20px;
}

.search:focus {
  outline: none;
}

.search{
  width:150px;
  border: 2px solid hsl(22, 31%, 52%);
  border-radius: 5px;
  padding: 5px;
  color: hsl(22, 31%, 52%);
}

.form-item{
  margin-bottom: 15px;
}

input:focus {
  outline: none;
}
input {
  border: none;
}


/* ::ng-deep .mat-form-field-flex > .mat-form-field-infix { height: 30px !important;
} */
/* ::ng-deep .mat-form-field-label-wrapper { top: -1.3em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.75);
    width: 133.33333%;
} */


/* .small-input.mat-form-field-appearance-outline .mat-form-field-infix {
    padding: .25em 0 .75em 0;
    font-size: 14px;
}
.small-input.mat-form-field-appearance-outline .mat-form-field-infix .mat-select-arrow{margin-top: 10px;}
.small-input.mat-form-field-appearance-outline .mat-select-empty + .mat-form-field-label-wrapper .mat-form-field-label{margin-top: -0.75em;} */