<div class="row flex">
  <div class="col-md-6">
    <p
      [ngStyle]="{
        'letter-spacing': '1px',
        'line-height': '2rem'
      }"
    >
      Learning is a continuous process throughout our lifetime. It is an
      imperative process for us to keep going in our lives, irrespective of our
      age, geography or profession. And the beautiful thing about learning is
      that nobody can take it away from you. We all have our own style of
      self-learning, a methodology that keeps us focused on the end objective.
      From notebooks, to-do lists, whiteboards to mobile applications & online
      platforms, we use a lot of tools & resources to help us learn solo!
    </p>
  </div>
  <div class="col-md-6">
    <img src="./assets/heroBcg.png" class="img-fluid" />
  </div>
</div>
