.number{
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 5px;
    padding: 30px;
}
.number-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 50px;
}

h3{
    margin-bottom: 10px;
    text-align: center;
    color:hsl(22, 31%, 52%);
    font-family:monospace;
}
h1{
    text-align: center;
    color:hsl(21, 56%, 26%);
    font-family:monospace;
}

i{
    margin-right: 10px;
}