<app-admin-hero></app-admin-hero>
<div class="number-grid">
    <div class="number">
        <h3><i class="fas fa-users"></i>USERS</h3>
        <h1>{{analytics.numberOfUsers}}</h1>
    </div>
    <div class="number">
        <h3><i class="fas fa-chalkboard-teacher"></i>LEARNING-PATHS</h3>
        <h1>{{analytics.numberOfLearningPaths}}</h1>
    </div>
     <div class="number">
        <h3><i class="fas fa-book-open"></i>RESOURCES</h3>
        <h1>{{analytics.numberOfResources}}</h1>
    </div>
    <div class="number">
        <h3><i class="far fa-clipboard"></i>NOTES</h3>
        <h1>{{analytics.numberOfNotes}}</h1>
    </div>
</div>
