<div class="row flex">
  <div class="col-md-6">
        <img src="./assets/reset-password.svg" />
  </div>
  <div class="col-md-6">
    <form [formGroup]="resetForm" (ngSubmit)="onResetPassword()">
      <h3 [ngStyle]="{ 'margin-bottom': '30px' }">Reset Password</h3>
      <div class="form-item" [ngStyle]="{ 'margin-bottom': '0px' }">
        <label htmlFor="password">
          <span class="fas fa-unlock"></span>
        </label>
        <input
          [type]="toggle ? 'text' : 'password'"
          name="password"
          formControlName="password"
          placeholder="Password"
        />
        <button type="button" class="password-hide" (click)="toggle = !toggle">
          <span class="fas fa-eye" *ngIf="toggle"></span>
          <span class="fa fa-eye-slash" *ngIf="!toggle"></span>
        </button>
      </div>
      <div *ngIf="resetFormControl['password'].touched || submitted">
        <p
          class="text-danger"
          *ngIf="resetFormControl['password'].errors?.['required']"
        >
          *Password is required.
        </p>
        <p
          class="text-danger"
          *ngIf="resetFormControl['password'].errors?.['minlength']"
        >
          *Password should have atleast 8 characters.
        </p>
      </div>

      <p
        [ngStyle]="{ visibility: 'hidden' }"
        *ngIf="
          !(
            resetFormControl['password'].errors &&
            (resetFormControl['password'].touched || submitted)
          )
        "
      >
        password
      </p>

      <div [ngStyle]="{ 'margin-bottom': '30px' }"></div>
      <div class="form-item" [ngStyle]="{ 'margin-bottom': '0px' }">
        <label htmlFor="confirmPassword">
          <span class="fas fa-unlock"></span>
        </label>
        <input
          [type]="toggle ? 'text' : 'password'"
          name="confirmPassword"
          formControlName="confirmPassword"
          placeholder="Confirm Password"
        />
        <button type="button" class="password-hide" (click)="toggle = !toggle">
          <span class="fas fa-eye" *ngIf="toggle"></span>
          <span class="fa fa-eye-slash" *ngIf="!toggle"></span>
        </button>
      </div>
      <p
        class="text-danger"
        *ngIf="
                (resetFormControl['confirmPassword'].touched || submitted) &&
                resetForm.errors?.['misMatch']
              "
      >
        *Passwords didn't match.
      </p>

      <p
        [ngStyle]="{ visibility: 'hidden' }"
        *ngIf="
              !(
                (resetFormControl['confirmPassword'].touched || submitted) &&
                resetForm.errors?.['misMatch']
              )
            "
      >
        confirmPassword
      </p>
      <div [ngStyle]="{ 'margin-bottom': '30px' }"></div>
      <button type="submit" [ngStyle]="{ 'margin-bottom': '15px' }">Reset Password</button>
      <p *ngIf="errorMsg">*{{ errorMsg }}</p>
      <p
        [ngStyle]="{ visibility: 'hidden' }"
        *ngIf="!errorMsg"
      >
        errorMsg
      </p>
    </form>
  </div>
</div>
