span{
  font-size: 18px;
  color:rgb(26, 26, 45);
}

.mat-column-action{
  width: 100px;
}

.mat-cell{
  padding:20px;
}
.mat-header-cell{
    padding:20px;
}

.search:focus {
  outline: none;
}

.search{
  width:150px;
  border: 2px solid hsl(22, 31%, 52%);
  border-radius: 5px;
  padding: 5px;
  color: hsl(22, 31%, 52%);
}

.form-item{
  margin-bottom: 15px;
}